.navigation-list {
    display: flex;
    justify-content: space-around;
    border: #ccc 2px solid;
    padding-bottom: env(safe-area-inset-bottom, 0);
    background: #fff;
}

.navigation-button {
    align-self: center;
    border-right: #ccc 2px solid;
    background: #fff;
    display: flex;
    width: 100%;
    cursor: pointer;
    touch-action: manipulation;

    &.selected {
        background: #d6eeff;
    }

    &:focus-visible {
        outline: #6af 2px solid;
    }

    &:hover {
        background: #d6eeff;
    }
    &:active {
        background: #bee4fc;
    }

    &:last-child {
        border-right: 0;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
    }

    text-align: center;
    padding: 16px;
    min-height: 60px;
}
