.directory-item {
    position: relative;
    cursor: pointer;

    &:focus {
        outline: #6af 2px solid;
    }

    &:hover {
        background: #d6eeff;
    }

    &.locked {
        opacity: 0.5;
        &::after {
            position: absolute;
            display: block;
            background-image: url("../icons/lock.svg");
            width: 16px;
            height: 16px;
            bottom: 56px;
            right: 22px;
            content: "";
        }
    }

    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
        width: 80px;
    }

    width: 126px;
    min-height: 96px;
    text-align: center;
    margin: 4px;
    padding: 8px;
}