.file-viewer {
    padding: 20px;
    background: #f6f6f6;
    
}

.title {
    font-weight: bold;
    padding: 0 20px;
    padding-bottom: 20px;
}

.file-content {
    width: 100%;
}

.close-button {
    color: #ffaaaa;
}