.item {
    border: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: #6af 2px solid;
    }

    &:hover {
        background: #d6eeff;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 64px;
    }

    width: 96px;
    height: 96px;
    text-align: center;
    margin: 6px;
}