.app {
    max-width: 480px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--bg-root);

    .view-container {
        flex: 1;
        overflow: hidden;
        position: relative;
    }
}
